*{
    margin: 0;
    padding: 0;
    background: rgb(45, 43, 51);
}
.box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    background: rgb(45, 43, 51);
    border: .5px solid rgb(71, 69, 77);
    padding: 10px 0;
}
.box-header img{
    width: 100px;
    padding: 0 20px;
}
.white{
    border-radius: 100px;
    border: 2px solid  rgb(32, 32, 32);
    padding: 5px 10px;
    height: 25px;
    width: 220px;
    background-color: rgb(94, 93, 93);

}
.left{
    display: flex;
    align-items: center;
}
.center i{
    margin: 2px;
    padding:10px;
    background-color:rgb(45, 43, 51);
    width: 50px; 
    border-radius: 5px;
    transition: .5s;
}
.center i:hover{
    background-color:rgb(75, 72, 85); 
    transition: .5s;
}
.center{
    display: flex;
    margin: 0;
    text-align: center;
}
.right i{
    margin: 2px;
    padding:10px;
    background-color:rgb(45, 43, 51);
    width: 50px; 
    border-radius: 5px;
    transition: .5s;
    text-align: center;
}
.right i:hover{
    background-color:rgb(75, 72, 85); 
    transition: .5s;
}
.right{
    display: flex;
    align-items: center;
}
.fa-solid,.fa-brands{
    color: rgb(203, 205, 205);
}
.left-content{
    border: 1px solid rgb(71, 69, 77);
    width: 21%;
}
.center-content{
    border: 1px solid rgb(71, 69, 77);
    width: 49%;
}
.right-content{
    border: 1px solid rgb(71, 69, 77);
    width: 23%;
}
.box-general{
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: space-between;
}
.box-general p{
    color: rgb(219, 215, 215);
}
.box-header img{
    width: 38px;
}
.left-content{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.elements{
    padding-top: 5px;
    padding-left: 10px;
}
li{
    color: white;
    list-style: none;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    align-items: center;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
.elements .fa-solid, .fa-regular{
    padding: 5px 10px;
}
.elements li:hover{
    background-color:rgb(75, 72, 85); 
    border-radius: 10px;
}
.box-contact{
    display:flex ;  
    flex-direction: column;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 30px;
}
.list-contact p{
    font-size: 15px;
    padding: 10px 10px;
    align-items: center;
    display: flex;
}
.list-contact p:hover{
    background: rgb(74, 72, 82);
    border-radius: 10px;
}
img{
    border-radius: 50px ;
}
.busqueda{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px ;
    padding-top: 5px;
    padding-bottom: 10px;
}
.fa-magnifying-glass{
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 15px;
    margin-right: 30px;
}
.fa-magnifying-glass:hover{
    background: rgb(74, 72, 82);
}
h1{
    color: rgb(202, 197, 197);
}

.shorts{
    margin: 20px auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.publication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 80px;

}
.sobre-mi{
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 10px 10px 0 0;
    background-color:  rgb(74, 72, 82);
}
.sobre-mi input{
    width: 85%;
    border-radius: 50px;
    margin-left: 10px;
    height: 30px;
    background-color: rgb(94, 93, 93);
    border: 2px solid  rgb(68, 67, 67);
    width: 90%;
}
.box-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(74, 72, 82);
    width: 100%;
    padding: 0 10px;
    
}
.line {
    border: none;
    border-top: 2px solid rgb(34, 33, 33); 
    width: 80%;
}
.box-coment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 10px 10px;
    background-color:  rgb(74, 72, 82);
    border-radius:  0 0 10px 10px;
}
.box-coment span{
    color: rgb(226, 222, 222);
    background-color:  rgb(74, 72, 82);
}
.box-coment i{
    font-size: 25px;
    background-color:  rgb(74, 72, 82);
}
